/* ///////////////// BLOGS SECTION ////////////////// */

.blogs {
    margin-top: 2.12em;
}

.blogs > .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19.3125rem, 1fr));
    /* grid-auto-rows: minmax(min-content, max-content); */
    gap: 1.62em;
}

.blog {
    margin-bottom: 2.56em;
}

.blog-4,
.blog-5,
.blog-6 {
    display: none;
}

.blog-img-wrapper {
    width: 100%;
    height: fit-content;
}

.blog-img {
    width: 100%;
    /* min-height: 14.5rem; */
    height: 14.5rem;
    /* height: 70%; */
    /* height: 50vw; */
    /* height: clamp(14.5rem, 50vw, 20rem); */
    /* max-height: 20rem; */
    object-fit: cover;
    border-radius: 0.1875rem;
    margin-bottom: .88em;
}

.blog-posting-date {
    font-size: .88581rem;
    text-transform: uppercase;
    color: #000;
}

.blog-title {
    color: #141414;
    margin: .373em 0;
    line-height: 1.082;
}

.blog-desc {
    color: #505050;
    line-height: 1.25; /* 1.25rem */
    margin: 0;
}

button {
    grid-column: 1 / -1;
}

@media (min-width: 67.8125rem) {
    
    .blog-4,
    .blog-5,
    .blog-6 {
        display: block;
    }

}