html, 
body {
    margin: 0;
    padding: 0;
}

/* //////////// HERO SECTION ///////////////// */

.hero a {
    text-decoration: none;
}

.bg-img {
    display: flex;
    align-items: end;
    min-height: 18.3125rem;
    background: linear-gradient(
        0deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.31) 100%), 
        url("../images/image1.png"), 
        lightgray 0px -255.741px / 100% 188.396% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left 0% bottom 28%;
    transform: scaleX(-1);
}

.post-details-hero {
    max-width: 41.0625rem;
    transform: scaleX(-1);
    color: #FFF;
    margin-left: auto;
    margin-bottom: clamp(1.56em, 5%, 3.7em);
}

.post-posting-date {
    font-size: .75rem;
    text-transform: uppercase;
}

.post-title-hero {
    font-size: 2rem;
    margin: 0.25em 0 0.25em;
    line-height: 1.082;
}

.post-desc-hero {
    margin-top: 0;
}

/* //////////// VIEW MORE BUTTON ///////////// */

button {
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 2.56em;
    cursor: pointer;
}

@media (min-width: 67.8125rem) {

    .bg-img {
        height: 30.5rem;
    }

}