html, 
body {
    margin: 0;
    padding: 0;
}

/* //////////// HERO SECTION ///////////////// */

.hero > article {
    position: relative;
}

.hero-img-wrapper {
    position: relative;
}

.hero-img {
    display: block;
    width: 100%;
    height: 18.3125rem;
    border-radius: 0.1875rem;
    transform: scaleX(-1);
    object-fit: cover;
    object-position: left 0% bottom 0%;
}

.hero-img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.31) 100%);
    mix-blend-mode: overlay;
}

.post-details-hero {
    position: absolute;
    bottom: 0;
    left: 5%;
    transform: translate(0, -5%);
    color: #FFF;
}

.post-posting-date {
    font-size: .75rem;
    text-transform: uppercase;
}

.post-title-hero {
    font-size: 2rem;
    margin: 0.25em 0 0.25em;
    line-height: 1.082;
}

.post-desc-hero {
    margin-top: 0;
}

/* //////////// VIEW MORE BUTTON ///////////// */

button {
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 2.56em;
    cursor: pointer;
}